src/
dist/__tests__/
__tests__/
*.test.js
*.test.ts
*.log
*.md~
node_modules/
.husky/
coverage/
reports/
*.tgz
sample-outputs/
test-reports/
.gitignore
.npmignore
jest.config.js
tsconfig.json
yarn.lock
package.json
