# jest-markdown-expand-reporter Test Results

> **Started**: Thu, 19 Jun 2025 01:01:46 GMT

<center>
  
|Suites (1)|Tests (1)|
|:-:|:-:|
|![](https://img.shields.io/badge/Passed-1-green) | ![](https://img.shields.io/badge/Passed-1-green)|
|![](https://img.shields.io/badge/Failed-0-lightgrey) | ![](https://img.shields.io/badge/Failed-0-lightgrey)|
|![](https://img.shields.io/badge/Pending-0-lightgrey) | ![](https://img.shields.io/badge/Pending-0-lightgrey)|

---

</center>